body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #298A08;
}

.quem-somos{
    background-color: #8181f7;
    color: white;
}

.margin{
    /*padding-top: 50px; /*Cria uma margin interna. Pega o background e joga lá pra cima. 
    Estende o componente sem perder o ínicio dele*/
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #a4b0d3;
}

.servicos{
    background-color: rgb(231, 233, 231);
}

.bg-footer{
    background-color:black;
    color:white;
}